.ltr {
    text-align: left;
  }
  
  .rtl {
    text-align: right;
  }
  
  .readonly-container {
    max-width: 100%;
    position: relative;
    font-weight: 400;
    text-align: left;
  }
  
  .text{
    min-height: 20px;
    padding: 10px 10px;

  }
  